.nd1{
    display: flex;
}

/* Pink Nav Bar */
.dm1{
    background-color: #bbbbbb;
    padding-top: 7px;
    padding-bottom: 7px;
}

.d1h1{
    color: black;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Trebuchet MS';
    word-spacing: 2px;
}

/* Main Nav Bar */
.enav{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.n1{
    left: 0;
    background-color: #a1eb7f;
    height: 135px;
    width: 100%;
    text-align: center;
    word-spacing: 18px;
}
.n1 ul li{
    display: inline-block;
}
.n1 ul li a{
    color: rgb(53, 53, 53);
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    font-weight: 600;
    word-spacing: 1px;
    transition: 0.5s;
}
.n1 ul li a:hover{
    color: rgb(255, 0, 0);
}

.checkbtn{
    font-size: 25px;
    color: #fff;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 858px){
    .n1i{
        margin-top: 0px;
        width: 170px;
        margin-left: 15px;
    }
    .n1{
        height: 90px;
        text-align: left;
    }
    .checkbtn{
        display: block;
    }
    .n1 ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #a1eb7f;
        top: 116px;
        left: -100%;
        text-align: center;
        line-height: 100px;
        transition: all .5s;
    }
    .n1 ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .n1 ul li a{
        font-size: 22px;
        font-weight: 550;
        margin-right: 50px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width: 858px){
    .n2 div h2{
        font-size: 50px;
    }
}

/* Page Nav */
.n2{
    text-align: center;
}
.n2d1 h2{
    font-family: "Londrina Shadow", sans-serif;
    font-weight: normal;
    margin-top: 25px;
    font-size: 60px;
}

/* Cards */
s{
    color: rgb(241, 46, 46);
}

.ecard{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

.md1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 100px; */
}

.md1card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
    margin: 20px;
}
.md1card img{
    width: 100%;
    height: auto;
}

.md1cardcontent{
    padding: 16px;
}
.md1cardcontent h3{
    font-size: 18px;
    margin-bottom: 8px;
}
.md1cardcontent p{
    color: #202020;
    font-size: 15px;
    line-height: 1.3;
}
.md1cardcontent .btn1{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 0px;
    margin-top: 16px;
    color: #ffffff;
    transition: 0.5s;
}
.md1cardcontent .btn1:hover{
    background-color: #a1eb7f;
}

/* Footer */
footer {
	background: #a1eb7f;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: rgb(53, 53, 53);
	line-height: 1.5;
    font-weight: 600;
    font-family: "Cabin", sans-serif;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: rgb(53, 53, 53);
    font-family: "Cabin", sans-serif;
}
.single-box .card-area i {
	color: rgb(53, 53, 53);
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li{
	text-decoration: none;
	color: rgb(53, 53, 53);
	line-height: 1.5;
	font-weight: 600;
    font-family: "Cabin", sans-serif;
}
.single-box ul li a {
	text-decoration: none;
	color: rgb(53, 53, 53);
	line-height: 2;
	font-weight: 600;
    font-family: "Cabin", sans-serif;
}
.single-box h2 {
	color: rgb(53, 53, 53);
	font-size: 20px;
	font-weight: bold;
    font-family: "Cabin", sans-serif;
}
#basic-addon2 {
	background: #000000;
	color: rgb(255, 255, 255);
}
.socials i {
    color: rgb(53, 53, 53);
	font-size: 20px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}
